<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"/>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <nav class="nav flex-column">
            <a class="nav-link active" aria-current="page" href="#">Clientes</a>
            <a class="nav-link disabled" href="#">Client look history</a>
            <a class="nav-link disabled" href="#">Emergency PIN configuration</a>
            <a class="nav-link disabled" aria-disabled="true">Emergency PIN history</a>
          </nav>
        </div>
        <div class="col-8">
            <div class="my-2 text-left">
                <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
                <a href="http://localhost:8800/api/clientes/export" class="btn btn-secondary">Download CSV File</a>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter shared key" aria-label="Enter shared key" aria-describedby="button-addon2" [(ngModel)]="sharedKey" 
                onkeydown="return /[a-z, ]/i.test(event.key)">
                <button class="btn btn-outline-secondary" (click)="searchClients()" type="button" id="button-addon2">Button</button>
              </div>
              
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Shared Key</th>
                <th>Business ID</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Data Added</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let cliente of clientes">
              <tr>
                <td>{{cliente.sharedKey}}</td>
                <td>{{cliente.businessId}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.phone}}</td>
                <td>{{cliente.dataAdd}}</td>
                <td>
                  <button type="button" class="btn btn-secondary me-2" [routerLink]="['/clientes/form', cliente.id]">
                    Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
